@import 'variables-and-mixins';


*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

.center-wrapper{
    margin: 0 60px;
    min-width: 315px;
}

.header{
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat;
    border-radius: 0px 0px 12px 12px;
}

.content{
    background-color: $background-color-basic;
    gap: 60px;
    margin-top: 30px;
}


.link-content {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    color: $font-color-regular;
    @include section-heading-small;
    &:hover {
        color: $font-color-hover;
        .link-content-arrow-right path {
            stroke: $font-color-hover;
        }
    }
    &-sliders {
        margin-bottom: 0;
    }
    &-arrow-right {
        transform: rotate(-90deg);
        path {
            stroke: $font-color-regular;
            &:hover {
                stroke: $font-color-hover;
            }
        }
    }
}

@media(min-width: map-get($screen, "tablet-sd")){
    .content{
        margin-top: 60px;
    }
}

@media(min-width:map-get($screen, "desktop-hd")){
    .center-wrapper{
        margin: 0 auto;
        max-width: 1600px;

    }

}